.zr-modal {
  .modal {
    display: block;
    top: 25%;
    outline: none;
  }
}

.zr-modal-background-level {
  z-index: 41;
}

@media (max-width: 768px) {
  .zr-modal {
      .modal-card {
        margin: 0;
      }
  }
}


