.navbar-title {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  .navbar-title-text {
    padding-top: 0.75rem;
  }
}

@media (min-width: 1088px) {
  .navbar-title {
    flex-grow: 10;
  }
}
